html {
	background: #efe0c2;
	font-family: "Georgia", serif;
}

h1 {
	text-align: center;
	color: #262626;
	font-family: "Enriqueta", serif;
	font-size: 50px;
	line-height: 48px;
	margin: 0 0 20px;
}

h2 {
	font-size: 15pt;
	color: #262626;
	text-align: center;
}

h3 {
	font-size: 10pt;
	font-family: "Helvetica", serif;
	color: #262626;
	text-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
}

div p {
	margin: 4px;
	color: #2f2f2f;
	font-size: 17px;
	line-height: 24px;
}

button {
	height: 40px;
	width: 30%;
	font-size: 13px;
	font-family: "Georgia", serif;
	border-color: #2f2f2f;
	background-color: white;
	border-radius: 5px;
	margin-top: 10px;
}

table {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	border: 1px solid #2f2f2f;
	border-collapse: collapse;
	background-color: white;
	text-align: center;
}

tr, td {
	font-size: 10pt;
	border: 1px solid #2f2f2f;
	padding: 2px;
}

th {
	font-family: "Helvetica", serif;
	color: #262626;
	font-size: 10pt;
	border: 1px solid #2f2f2f;
	padding: 2px;
}
 
#screen {
	border: 1px solid #2f2f2f;
}

#endScreen {
	display: none;
	height: 45%;
	width: 45%;
	top: 25%;
	left: 27.5%;
	border: 1px solid #2f2f2f; 
	border-radius: 10px;
	background-color: #D3D3D3;
	position: absolute;
}

#form {
	display: none;
	justify-content: center;
	flex: 1;
}

.back {
	margin-right: 8px
}

.buttons {
	display: flex;
	flex: 1;
	justify-content: center;
}

.container {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

.canvas {
    align-self: center;
    width: 650px;
    height: 382px;
    position: relative;
}

.formInput {
	border-radius: 2px;
	font-family: "Georgia", serif;
	margin-left: 5px;
}

.hidden {
	display: none;
}

.footer {
	align-self: center;
}